# Власні налаштування користувача та кеш Visual Studio
.vs/
.vscode/
*.suo
*.user

# Папки компіляції (сюди збирається готовий запускний код)
bin/
obj/

# Тимчасові файли системи
*.log
Thumbs.db
.DS_Store